/*v1 global header - now just landing site*/
#head-main img {
    display: block;
    height:  108px;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-left : 2px;
    border-right : 2px;
}

/*study-week specific styling - deprecated after week 04*/
#week-head{
    height: 40px;
    width: 40%;
    margin: 0 auto;
    background-color: black;
    border-top: .25rem solid #f602ff;
    border-bottom: .25rem solid #32DD72;
    padding: 1.5rem;

    color: #f602ff;
    text-align: center;
}

/*header sans landing v2*/
.header-v2{
    text-align: center;
    color: white;
    background: url("Images/header-alt.gif");
    background-size: 100%;
    padding: 30px;
    border-left : 2px;
    border-right : 2px;
    margin: 0;
}
