.link-container {
    color: #999999;
    padding-bottom: 1rem;
    list-style-type: none;
}

.link-container li {
    display: inline-block;
    margin-right: 5rem;
}

.link-container li a {
    display: inline-block;
    width: 16rem;
    text-align: center;
    border: 1px solid #f602ff;
    text-decoration: none;
    background-color: #0a031d
        color: #CCCCCC;
}
.link-container a:visited {
    color: #bb18c1;
}

.link-container a:hover, a:focus {
    color: #32DD72;
}

/*Nav styling*/
.nav-v2 ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    list-style: none;
}
.nav-v2 ul li{
    flex: 1;
    text-align: center;
    color: #CCCCCC;
    border-top: 2px solid #32DD72;
    border-bottom: 2px solid #32DD72;
}
.nav-v2 ul li:not(:first-child), #nav-v2 ul li:not(:last-child){
    border-left: 1px solid #32DD72;
    border-right: 1px solid #32DD72;

}
.nav-v2 ul li:first-child{
    border-left: 2px solid #32DD72;
    border-right: 1px solid #32DD72;

}
.nav-v2 ul li:last-child{
    border-left: 1px solid #32DD72;
    border-right: 2px solid #32DD72;

}
.nav-v2 ul li a{
    margin: 0 auto;
    font-weight: bold;
    text-decoration: none;
}
.nav-v2 ul li a:hover, a:focus{
    text-decoration: underline;
}
.nav-v2 ul li a:visited{
    color: #CCCCCC;
}
