/*Nav styling*/
.nav-v2{
    margin-bottom: 40px;
}
.nav-v2 ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-v2 ul li{
    flex: 1;
    text-align: center;
    background-color: #32DD72;
}
.nav-v2 ul li:not(:first-child), #nav-v2 ul li:not(:last-child){
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;

}
.nav-v2 ul li:first-child{
    border-left: 2px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;

}
.nav-v2 ul li:last-child{
    border-left: 1px solid #1e1e1e;
    border-right: 2px solid #1e1e1e

}
.nav-v2 ul li a{
    margin: 0 auto;
    color: #1e1e1e;
    font-weight: bold;
    text-decoration: none;
}
.nav-v2 ul li a:hover, a:focus{
    text-decoration: underline;
}



/*Depricated .link-container Styling*/
.link-container {
    color: #999999;
    padding-bottom: 1rem;
    list-style-type: none;
}

.link-container li {
    display: inline-block;
    margin-right: 5rem;
}
.link-container li a {
    display: inline-block;
    width: 16rem;
    text-align: center;
    border: 1px solid #f602ff;
    text-decoration: none;
    background-color: #0a031d
    color: #CCCCCC;
}
.link-container a:visited {
    color: #bb18c1;
}
.link-container a:hover, a:focus {
    color: #32DD72;
}
