/*global styling*/
html, body{
    margin: 0%;
    height: 100%;
}
html{
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
}

body {
    background-color: #1e1e1e;
    color: #999999;
    font-size: 1.6rem;
    line-height: 1.5;
}

hr{
    color: #999999;
}

h1 {
    color: #f602ff;
}

h2, h3, b  {
    color: #32DD72;
}

a {
    color: #CCCCCC;
}
a:visited {
    color: #bb18c1;
}
a:hover, a:focus {
    color: #32DD72;
}

/*index.html specific styling*/
#intent, #roadmap-sections{
    list-style-type: upper-roman;
}

/*study-weeks specific styling*/
.study-day{
    color: #32DD72;
}

/*roadmap specific styling*/
#roadmap h4{
    color: #32DD72;
}
#roadmap h2 {
    color: #f602ff;
}
