html{
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
}

body {
    background-color: #1e1e1e;
    color: #999999;
    font-size: 1.6rem;
    line-height: 1.5;
}

h2 {
     color: #32DD72;
}

a {
    color: #CCCCCC
}
