/*Bio flex styling*/
#flex-one, #flex-two{
    display: flex;
    flex-flow: row wrap;
    margin: 2.5% 5% 2.5% 5%;
    font-weight: bold;
    color: black;
}
#flex-one div, #flex-two div{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 40px 50px;
}
#flexf, #flexg, #flexh, #flexi{
    flex: 1;
}
#flexc, #flexe{
    flex: 2;
}
#flexa{
    flex: 4;
}
#flexb{
    text-align: right;
    flex: 6;
}
#flexj{
    flex: 10;
}
#flexg{
    text-align: left;
}
#flexc, #flexf, #flexa:hover, #flexh:hover{
    background-color: #cdd422;
}
#flexd, #flexj, #flexe:hover, #flexi:hover{
    background-color: #e05915;
}
#flexe, #flexh, #flexc:hover, #flexj:hover{
    background-color: #c2dde6;
}
#flexa, #flexi, #flexd:hover, #flexf:hover{
    background-color: #431c5d;
}
#flexb, #flexg{
    background-color: #e6e9f0;
}


/*styled table in a two flex item flexbox*/
#table-metro{
    table-layout: fixed;
    border-collapse: collapse;
}
#table-metro thead{
    text-align: center;
}
#table-metro thead, tfoot{
    background-color: black;
}
#table-metro caption{
    caption-side: bottom;
    text-align: right;
    font-style: italic;
}
#table-metro tbody tr:nth-child(odd){
    background-color: #3a354a;
}
#table-metro tbody tr:nth-child(even){
    background-color: #221c33;
}
#table-metro thead th:nth-child(1), #table-metro thead th:nth-child(2), thead th:nth-child(3){
    width: 10%;
}
#table-metro th, td{
    padding: 3px;
}
#table-metro tfoot{
    text-align: right;
}

/*video for two flex item flexbox*/
#flex-two-slab{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#flex-clownvideo video{
    width: 100%;
    outline: none;
}
@media (max-width: 1090px){
    #flex-two-slab{
        flex-direction: column;
        align-items: center;
    }
    #flex-one, #flex-two, #styled-table, #flex-clownvideo{
        margin-top: 40px;
    }
}

/*Flex John Titor box*/
#flex-report{
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#flex-report div{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex: 2;
}
#flex-report p{
    flex: 1;
    color: #e6e9f0;
    text-align: center;
    font-style: italic;
    margin-left: 6%;
    margin-right: 6%;
}
#flex-report p:first-child{
    align-self: flex-start;
}
#flex-report p:last-child{
    align-self: flex-end;
}
#flex-report img{
    height: 200px;
    width: 400px;
}

/*Basic Grid Styling*/
#def-grid-section{
    margin: 5% 12% 5% 12%;
    background-image: url(../Images/bluescreen.gif);
    background-size: 100%;
}
#def-grid{
    display: grid;
    grid-template-columns: repeat(8, minmax(30px, 1fr));
}
#def-grid div, span{
    background: center/100%;
}
#def-grid div:nth-child(1){
    grid-row: 1;
    grid-column: 1 / 5;
    background-image: url(../Images/grid-glitch-a.gif);
}
#def-grid div:nth-child(5){
    grid-row: 1;
    grid-column: 8;
    background-image: url(../Images/grid-glitch-e.gif);
}

#def-grid div:nth-child(3){
    grid-row: 2;
    grid-column: 5 / 8;
    background-image: url(../Images/grid-glitch-c.gif);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#def-grid #inner-div span{
    flex: 1;
}
#def-grid div:nth-child(2){
    grid-row: 3;
    grid-column: 1 / 5;
    background-image: url(../Images/grid-glitch-b.gif);
}
#def-grid div:nth-child(4){
    grid-row: 3;
    grid-column: 6 / 9;
    background-image: url(../Images/grid-glitch-d.gif);
}
#def-grid img{
    width: 100%;
    height: 100%;
    opacity: 0;
}
#def-grid img:hover, #def-grid span img:hover{
    opacity: 1;
}

/*Float styling*/
#float-stallman{
    margin: 0 6% 0 6%;
}
#float-stallman img{
    max-width: 200px;
    height: auto;
}
#stall-left, #stall-right{
    margin-bottom: 1rem;
}
#stall-left{
    float: left;
    margin-right: 1rem;
}
#stall-right{
    float: right;
    margin-left: 1rem;
}

/*Relative positioned*/
#relative{
    margin: 5% 6% 5% 6%;
}
#relative h2{
  color: black;
  font-size: 2.75rem;
}
#relative div:first-child{
    position: relative;
    height: 200px;
    background-color: #c2dde6;
}
#relative div:nth-child(2){
    height: 150px;
    background-color: black;
    position: relative;
    bottom: 175px;
}
#relative div:last-child{
    position: relative;
    height: 100px;
    background-color: #cdd422;
    color: black;
    bottom: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Positioning - absolute, fixed, sticky*/
#absolute{
    position: relative;
    bottom: 300px;
    margin: 0% 6% 5% 6%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
#absolute h2{
  color: black;
  font-size: 2.75rem;
}
#absolute div{
    height: 200px;
    width: 200px;
    flex: 1;
}
#absolute div:first-child{
    background-color: #cdd422;
    position: absolute;
    top: 100px;
    left: 150px;
}
#absolute div:nth-child(2){
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c2dde6;
    color: #431c5d;
}
#absolute div:nth-child(3){
    background-color: #e05915;
    position: absolute;
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cdd422;
}
#absolute div:last-child{
    background-color: black;

}

/*sticky header & nav*/
#sticky-header-nav{
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}
@media (max-width: 500px) {
    main{
        margin-top: 210px;
    }
}
@media (max-width: 426px) {
    main{
        margin-top: 300px;
    }
}

/*Grid with sticky position flow*/
#sticky-grid{
    display: grid;
    grid-auto-rows: 195px;
    height: auto;
    grid-row-gap: 100px;
    margin-bottom: 5%;
}
.center-flex{
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}
#sticky-grid img{
    position: sticky;
}
#row1{
    top: -50px;
}
#row2{
    top: 145px;
}
#row3{
    top: 340px;
}
#row4{
    top: 535px;
}
#row5{
    top: 730px;
}

/*Multi Column*/
#multicol{
    margin: 0 6% 5% 6%;
    column-count: 7;
}
#multicol div{
    break-inside: avoid;
    page-break-inside: avoid;

}
@media (max-width: 1336px){
    #multicol{
        column-count: 4;
    }
}
@media (max-width: 775px){
    #multicol{
        column-count: 2;
    }
}
@media (max-width: 464px){
    #multicol{
        column-count: 1;
    }
}


/*---------------Above == week05 styling ---------------*/



/*Code below here new code from week 09*/
main > h2{
  margin-left: 6%;
}
#dom-head{
  margin-left:6%;
  margin-right: 6%;
  text-align: center;
}
#dom-head h1{
  color: #cdd422;
  font-size: 3.5rem;
}
#dom-head p{
  color: white;
  font-size: 2.2rem;
}
#warp{
  height: 95px;
  width: 200px;
  font-size: 1.2em;
  background-color: #e05915;
  border: 0;
  margin-left: 20%;
  border: 3px solid #431c5d;
}




/*-------------------------week 07*---------*/
#second-form{
  width: 100%;
}
#shipping-grid{
  width: 95%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "mainShip round submit . choosefile"
                       ". options . pickdate ellip";
}
#rounded-box{
  grid-area: round;
}
#elliptical-box{
  grid-area: ellip;
}
#shipping-main{
  grid-area: mainShip;
  border-top: 3px solid #cdd422;
}
#options{
  grid-area: options;
  border-bottom: 3px solid #cdd422;
}
#submit-fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 3px solid #cdd422;
  grid-area:submit;
}
#pickdate{
  border-bottom: 3px solid #e05915;
  grid-area: pickdate;
}
#choosefile{
  grid-area: choosefile;
  border-right: 3px solid #e05915;
}

/*Shipping form sizing & layout*/
.form{
  width: 520px;
  margin-left: 3%;
}
.form fieldset{
  border: 0;
}
.form legend{
  font-weight: bold;
}
.form #submit, #reset{
  margin-bottom: 20px;
  border: 1px solid #cdd422;
}
#submit{
  margin-right: 5px;
}
.radiolist span{
  margin-right: 25px;
}
#second-form fieldset:first-of-type{
  width: 467px;
  display: grid;
  grid-template-columns: 167px 300px;
  text-align: right;
  margin-bottom: 4px;
}
#second-form label{
  margin-right: 3px;
}

/*Shipping form media queries*/
@media (max-width: 500px){
  .form, #second-form fieldset:first-of-type, #times{
    width: 100%;
  }
  #second-form fieldset:first-of-type{
      text-align: left;
      grid-template-columns: 90%;
  }
  .radiolist label{
    display: flex;
  }
}


.form legend{
    color: #e05915;
    padding: 0;
}
.form input, select{
    color: rgb(205, 212, 34);
    background: black;
    margin-bottom: 5px;
}
.form label{
    color: #c2dde6;
}
#second-form fieldset:not(:last-of-type) input, #dateclock, #country{
      border: 1px solid #c2dde6;
      border-radius: 5px;
}
#second-form fieldset:not(:last-of-type) input:focus, #dateclock:focus, #country:focus{
    border: 2px solid #32DD72;
}
/*Shipping form media queries*/
@media (max-width: 1400px){
  #second-form, #shipping-grid{
    display: flex;
    flex-direction: column;
  }
  #options{
    border-bottom: 0;
  }
  #submit-fieldset{
    border: 0;
  }
  #submit-fieldset div:first-of-type{
    margin-left: 0;
    width: 100%;
    border-bottom: 3px solid #cdd422;
    border-right: 3px solid #cdd422;
    margin-bottom: 20px;
  }
}




/*----------------------------week 03---------------------*/
#bg-clips{
  display: grid;
  grid-template-areas: ". bborder bpadding bcontent";
  margin: 10% 0 10% 0;
}
.bg-img {
    display: inline-block;
    width: 15vw;
    height: 15vw;
    padding: 2vw;
    border: 2vw solid rgba(127, 221, 87, .5);
    background-image: url("../Images/frames.jpg");
    background-size: 24vw;
    background-position: center;
}
#bg-border {
    grid-area: bborder;
    background-clip: border-box;
}
#bg-padding {
    grid-area: bpadding;
    background-clip: padding-box;
}
#bg-content {
    grid-area: bcontent;
    background-clip: content-box;
}





/*---------------------week 04 below---------*/
#rounded-box{
    border-radius: 20px;
    background-image: url(../Images/glitch-lines.gif);
    background-size: 100%;
}
#elliptical-box{
    border-radius: 10px 30px / 20px 40px;
    background-image: url(../Images/bluescreen.gif);
    background-size: 100%;
}
