/*Bio flex styling*/
#flex-one, #flex-two{
    display: flex;
    flex-flow: row wrap;
    margin: 2.5% 5% 2.5% 5%;
    font-weight: bold;
    color: black;
}
#flex-one div, #flex-two div{
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 40px 50px;
}
#flexa{
    background-color: #431c5d;
    flex: 4;
}
#flexb{
    background-color: #e6e9f0;
    text-align: right;
    flex: 6;
}
#flexc, #flexc, #flexe{
    flex: 2;
}
#flexc{
    background-color: #cdd422;
}
#flexd{
    background-color: #e05915;
}
#flexe{
    background-color: #c2dde6;
}
#flexa:hover{
    background-color: #cdd422;
    flex: 4;
}
#flexc:hover{
    background-color: #c2dde6;
}
#flexd:hover{
    background-color: #431c5d;
}
#flexe:hover{
    background-color: #e05915;
}
#flexf{
    background-color: #cdd422;
    flex: 1;
}
#flexg{
    background-color: #e6e9f0;
    text-align: left;
    flex: 1;
}
#flexh{
    background-color: #c2dde6;
    flex: 1;
}
#flexi{
    background-color: #431c5d;
    flex: 1;
}
#flexj{
    background-color: #e05915;
    flex: 10;
}
#flexf:hover{
    background-color: #431c5d;
}
#flexh:hover{
    background-color: #cdd422;
}
#flexi:hover{
    background-color: #e05915;
}
#flexj:hover{
    background-color: #c2dde6;
}

/*styled table in a two flex item flexbox*/
#table-metro{
    table-layout: fixed;
    border-collapse: collapse;
}
#table-metro thead{
    text-align: center;
}
#table-metro thead, tfoot{
    background-color: black;
}
#table-metro caption{
    caption-side: bottom;
    text-align: right;
    font-style: italic;
}
#table-metro tbody tr:nth-child(odd){
    background-color: #3a354a;
}
#table-metro tbody tr:nth-child(even){
    background-color: #221c33;
}
#table-metro thead th:nth-child(1), #table-metro thead th:nth-child(2), thead th:nth-child(3){
    width: 10%;
}
#table-metro , #table-metro thead th:nth-child(4), #table-metro thead th:nth-child(5){
    width: 35%%;
}
#table-metro th, td{
    padding: 3px;
}
#table-metro tfoot{
    text-align: right;
}

/*video for two flex item flexbox*/
#flex-two-slab{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#flex-two-slab video{
    width: 100%
}
#flex-two-slab video:active, #flex-two-slab video:focus {
   outline: none;
}

/*Flex John Titor box*/
#flex-report{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#flex-report div{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    flex: 2;
}
#flex-report p{
    color: #e6e9f0;
    text-align: center;
    font-style: italic;
    margin-left: 6%;
    margin-right: 6%;
}
#flex-report p:first-child{
    align-self: flex-start;
    margin-top: 0;
}
#flex-report p:last-child{
    align-self: flex-end;
    margin-bottom: 0;
}
#flex-report img{
    height: 200px;
    width: 400px;
    margin: 0;
}
#flex-report p, flex-report img{
    flex: 1;
}

/*Basic Grid Styling*/
#auto-grid-section{
    margin: 2.5% 12% 2.5% 12%;
    background-image: url(../Images/bluescreen.gif);
    background-size: 100%;
}
#auto-grid{
    display: grid;
    grid-template-columns: repeat(8, minmax(30px, 1fr));
}
#auto-grid div, span{
    background: center/100%;
}
#auto-grid div:nth-child(1){
    grid-row: 1;
    grid-column: 1 / 5;
    background-image: url(../Images/grid-glitch-a.gif);
}
#auto-grid div:nth-child(5){
    grid-row: 1;
    grid-column: 8;
    background-image: url(../Images/grid-glitch-e.gif);
}

#auto-grid div:nth-child(3){
    grid-row: 2;
    grid-column: 5 / 8;
    background-image: url(../Images/grid-glitch-c.gif);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
#auto-grid #inner-div span{
    flex: 1;
}
#auto-grid div:nth-child(2){
    grid-row: 3;
    grid-column: 1 / 5;
    background-image: url(../Images/grid-glitch-b.gif);
}
#auto-grid div:nth-child(4){
    grid-row: 3;
    grid-column: 6 / 9;
    background-image: url(../Images/grid-glitch-d.gif);
}
#auto-grid img{
    width: 100%;
    height: 100%;
    filter: opacity(0%);
}
#auto-grid img:hover, #auto-grid span img{
    filter: opacity(100%);
}
