.workbox{
  width: 79.5vw;
  height: 80vh;
  background-color: black;
  margin: 3% 0 4% 10%;
  overflow: scroll;
  font-size: 30px;
  word-wrap: break-word;
}
main{
  margin: 0 3% 0 3%;
}
h2 > a{
  color: #32DD72;
}
article > h2{
  color: grey;
  font-size: 20px;
}
