img{
  margin: 0 3vw 0 3vw;
}

p{
  font-size: 1.8rem;
}

.plain-img{
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
}

.md-img{
  max-width: 1000px;
}
