html, body{
    margin: 0%;
    height: 100%;
}
html{
    font-family: helvetica, arial, sans-serif;
    font-size: 10px;
}

body {
    background-color: #1e1e1e;
    color: #999999;
    font-size: 1.6rem;
    line-height: 1.5;
}

h2, h2 > a {
     color: #32DD72;
}

a {
    color: #CCCCCC
}
pre:not(.code_description){
  width: 80%;
  margin: auto;
}

.subdomain-preview{
  height: 50vh;
}
