body{
  padding-bottom: 200px;
}

main ul{
  margin-left: 70px;
}

code.python, code.php, .table-container, p, code.jsx{
  width: 1400px;
}

pre:not(.code_description){
  width: 800px;
}

section{
  margin-top: 70px;
}

h2, p{
  margin-left: 3vw;
  margin-right: 3vw;
}
h3, img{
  margin: 0 3vw 0 3vw;
}
h5{
  margin-top: 0;
}
p{
  font-size: 1.8rem;
}
p, .table-container, pre:not(.code_description), .formSection{
  margin-left: 115px;
}

.table-container{
  overflow-x: scroll;
  padding: 20px;
  font-size: 2rem;
}

/* TABLE */
.practice_table{
  border-collapse: collapse;
  color: #999999;
  transition: all .5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.practice_table thead{
    text-align: center;
}
.practice_table thead, tfoot{
    background-color: #999999;
    text-align: left;
    color: black;
}
.practice_table caption{
    caption-side: bottom;
    text-align: right;
    font-style: italic;
}
.practice_table tbody tr.odd{
    background-color: #3a354a !important;
}
.practice_table tbody tr.even{
    background-color: #221c33 !important;
}
/* #practice_table thead th:nth-child(1), #practice_table thead th:nth-child(2), #practice_table thead th:nth-child(3){
    width: 10%;
} */
.practice_table td:not(:first-of-type){
    padding: 20px;
    text-transform: capitalize;
}
.practice_table thead td{
    text-transform: capitalize;
}
.practice_table tfoot{
    text-align: right;
}

/* SHOW ENTRIES */
.dataTables_length, .dataTables_info{
  display: inline;
}
.dataTables_length select{
  margin: 0 0 3px 5px;
  width: 65px;
  /* float: right; */
  border-radius: 2px;
  background: #3a354a;
  color: #999999;
}
.dataTables_filter{
  float: right;
  margin-bottom: 3px;
  border-radius: 2px;
}
.dataTables_paginate{
  margin-top: 20px;
}
.dataTables_filter input{
  background: #3a354a;
  color: #999999;
  border: 0;
  margin-bottom: 10px;
  padding: 5px;
}
.paginate_button{
  outline: 0;
}
.paginate_button.current{
  border: 1px solid #cdd422;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 2px;
}

/*forms*/
.flex-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
}
.submit, label{
  margin-top: 10px;
}
.formSection{
  margin-top: 0;
}
