body{
  padding-bottom: 200px;
}
main{
  padding-left: 20px
}
main ul{
  margin-left: 70px;
}

code.python, code.php, .table-container, p, code.jsx, code.jquery{
  width: 1400px;
}

pre:not(.code_description){
  width: 800px;
}

section{
  margin-top: 70px;
}

h2, p{
  margin-left: 3vw;
  margin-right: 3vw;
}
h3, img{
  margin: 0 3vw 0 3vw;
}
h5{
  margin-top: 0;
}
p{
  font-size: 1.8rem;
}
.table-container, pre:not(.code_description), #jquery-form, #jquery-form-after{
  margin-left: 115px;
}

.table-container{
  overflow-x: scroll;
  padding: 20px;
  font-size: 2rem;
}

/* TABLE */
.practice_table{
  border-collapse: collapse;
  color: #999999;
  transition: all .5s;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
.practice_table thead{
    text-align: center;
}
.practice_table thead, tfoot{
    background-color: #999999;
    text-align: left;
    color: black;
}
.practice_table caption{
    caption-side: bottom;
    text-align: right;
    font-style: italic;
}
.practice_table tbody tr.odd{
    background-color: #3a354a !important;
}
.practice_table tbody tr.even{
    background-color: #221c33 !important;
}
/* #practice_table thead th:nth-child(1), #practice_table thead th:nth-child(2), #practice_table thead th:nth-child(3){
    width: 10%;
} */
.practice_table td:not(:first-of-type){
    padding: 20px;
    text-transform: capitalize;
}
.practice_table thead td{
    text-transform: capitalize;
}
.practice_table tfoot{
    text-align: right;
}

/* SHOW ENTRIES */
.dataTables_length, .dataTables_info{
  display: inline;
}
.dataTables_length select{
  margin: 0 0 3px 5px;
  width: 65px;
  /* float: right; */
  border-radius: 2px;
  background: #3a354a;
  color: #999999;
}
.dataTables_filter{
  float: right;
  margin-bottom: 3px;
  border-radius: 2px;
}
.dataTables_paginate{
  margin-top: 20px;
}
.dataTables_filter input{
  background: #3a354a;
  color: #999999;
  border: 0;
  margin-bottom: 10px;
  padding: 5px;
}
.paginate_button{
  outline: 0;
}
.paginate_button.current{
  border: 1px solid #cdd422;
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 2px;
}

/*forms*/
.flex-form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
}
.submit, label{
  margin-top: 10px;
}
.formSection{
  margin-top: 0;
}

.color-box, .color-box-after{
  background: #431c5d;
}
.inner-color-box, .inner-color-box-after{
  background: #e05915;
  width: 33%;
  height: 50%;
  margin: auto;
}
.inner-color-box-bottom, .inner-color-box-bottom-after{
  background: #cdd422;
  float: bottom;
}

#box-container, #box-container-after{
  width: 60vw;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 115px;
}

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.form-container, .form-container-after{
  width: 420px;
  margin-top: 20px;
}

#jquery-form, #jquery-form-after{
  display: flex;
  flex-direction: column;
}

#jquery-form input, #jquery-form-after input{
  margin: 5px 0;
  float: right;
}
