main ul{
  margin-left: 70px;
}

/* take priority over geral practice-stylesheet.css */
pre:not(.code_description){
  width: 800px;
  margin-left: 140px;
}

.subdomain-preview{
  height: 50vh;
}

.no-style-li{
  list-style-type: none;
}
