body{
  padding-bottom: 200px;
}
main{
  padding-left: 20px
}
main ul:not(.no-margin){
  margin-left: 70px;
}

code.python, code.php, .table-container, code.jsx, code.jquery, .plaintext{
  width: 1400px;
}

pre:not(.code_description){
  width: 800px;
}

section{
  margin-top: 70px;
}

h2{
  margin-left: 3vw;
  margin-right: 3vw;
}
h3, img{
  margin: 0 3vw 0 3vw;
}
h5{
  margin-top: 0;
}
p, .p-span{
  font-size: 1.8rem;
}
pre:not(.code_description), .plaintext{
  margin-left: 115px;
}

.plaintext{
  display: block;
  overflow-x: auto;
  background: black;
  color: #eaeaea;
  padding: 0.5em;
}

.plaintext > * {
  padding: 0 75px;
}

.margin-li{
  margin-top: 10px;
}

.notes-block{
  box-sizing: border-box;
  padding: 50px;
  width: 1420px;
}
