main{
  margin: 0 3vw 0 3vw;
}

label{
    color: #c2dde6;
}

input{
  margin-bottom: 10px;
  background-color: black;
  padding: 5px;
  border: 1px solid #c2dde6;
  color: #c2dde6;
}

#color-div{
  background-color:black;
  height:20vw;
  width: 20vw;
}
