/*Nav styling*/
.nav-v2{
    margin-bottom: 38px;
    width: 100vw;
}
.nav-v2 ul{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 0;
    margin-top: 0;
    list-style: none;
}
.nav-v2 ul li, select{
    flex: 1;
    text-align: center;
    background-color: #32DD72;
    border-top: 2px solid  #1e1e1e;
}
.nav-v2 ul li:not(:first-child), #nav-v2 ul li:not(:last-child){
    border-left: 1px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
}
.nav-v2 ul li:first-child{
    border-left: 2px solid #1e1e1e;
    border-right: 1px solid #1e1e1e;
}
.nav-v2 ul li:last-child{
    border-left: 1px solid #1e1e1e;
    border-right: 2px solid #1e1e1e
}
.nav-v2 ul li a, select{
    color: #1e1e1e;
    font-weight: bold;
    text-decoration: none;
    width: 98%;
}
.nav-v2 ul li a:hover, a:focus{
    text-decoration: underline;
}
select{
  border: 0;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
/*Sticky Nav
.nav-v2{
    position: sticky;
    top: 0;
}*/


/*Depricated .link-container Styling*/
.link-container {
    color: #999999;
    padding-bottom: 1rem;
    list-style-type: none;
}
.link-container li {
    display: inline-block;
    margin-right: 5rem;
}
.link-container li a {
    display: inline-block;
    width: 16rem;
    text-align: center;
    border: 1px solid #f602ff;
    text-decoration: none;
    background-color: #0a031d;
    color: #CCCCCC;
}
.link-container a:visited {
    color: #bb18c1;
}
.link-container a:hover, a:focus {
    color: #32DD72;
}
