h2 {
  color: #e05915;
}
h2, hr{
  margin: 1.3rem 0 1.3rem 0;
}
h4, .here{
  margin-bottom: 0;
  color: #32DD72;
}
p, h4{
  margin-left: 3.1rem;
}
ul:not(.nav-list), p:not(.email){
  margin: 0 3vw 0 3vw;
}
#roadmap-main ul {
    padding-left: 2rem;
    list-style-type: none;
}
#roadmap-main ul, h2 {
  margin-left: 1.3rem;
}
#roadmap-main ul li{
    padding: .5rem 0 0 1.3rem;
}
#roadmap-main li:not(.embedded-list){
    background-image: url(../root-assets/images/eclipse.png);
    background-size: 1.2rem 1.2rem;
    background-repeat: no-repeat;
    background-position: left;
}
u{
  color: #CCCCCC;
}
